:root {
  --very-light-blue: #ecf2ff;
  --light-blue: #cac9ff;
  --white: #fff;
  --gradient-blue: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
  --gradient-result: linear-gradient(180deg, #4d21c9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
  --dark-navy: #303b59;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: var(--very-light-blue);
  min-height: 100vh;
  display: grid;
}

img {
  display: block;
  max-width: 100%;
}

.total-score {
  color: var(--white);
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 800;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.card__result {
  background: var(--gradient-blue);
  color: var(--light-blue);
  min-height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 3.375rem 2.5rem;
  border-radius: 0 0 32px 32px;
}

.card__score {
  margin-top: 1.5rem;
  background: var(--gradient-result);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-size: 1.125rem;
}

.result {
  text-align: center;
  margin-top: 1.5rem;
  max-width: 260px;
}

.result__grade {
  color: var(--white);
  font-size: 1.5rem;
}

.result__info {
  margin-top: 0.5rem;
}

.card__summary {
  min-height: 400px;
  padding: 1.5rem 1.875rem 1.875rem;
  color: var(--dark-navy);
}

.categories {
  margin: 1.5rem 0;
}

.categories__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.125rem 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.item__left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.item__right {
  font-weight: 700;
}

.score-left {
  opacity: 0.5;
  margin-left: 0.5rem;
}

.btn {
  display: inline-block;
  color: var(--white);
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  background-color: var(--dark-navy);
  border: none;
  border-radius: 128px;
  padding: 1rem 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.15;
}

.btn:hover {
  background: var(--gradient-blue);
}

@media (min-width: 768px) {
  body {
    place-items: center;
    font-size: 1.125rem;
  }

  .card {
    flex-direction: row;
    justify-content: center;
    border-radius: 32px;
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
  }

  .card__result {
    border-radius: 32px;
    padding: 2.375rem 3.375rem 2.875rem;
  }

  .card__summary {
    padding: 2.375rem 2.5rem 2.875rem;
  }

  .section-heading {
    font-size: 1.5rem;
  }

  .total-score {
    font-size: 4.5rem;
  }

  .card__score {
    width: 200px;
    height: 200px;
    margin-top: 2.1875rem;
  }

  .result {
    margin-top: 1.75rem;
  }

  .result__info {
    margin-top: 0.875rem;
  }

  .result__grade {
    font-size: 2rem;
  }

  .categories {
    min-width: 288px;
    margin: 1.75rem 0 2.5625rem;
  }
}
